html {    
    
}

body {
	/* font-family: 'Roboto', sans-serif; */
	
}

a .blog-post-title {
	color: #0275d8;
}

.form-control {
  
}

.comments {
	font-size: 0.77rem;
}

.comments li {
	justify-content: space-between;
}

.comment-date {
	color: #999;
}